@model Oceanic.Models.SearchResultViewModel

    @{
        ViewBag.Title = "Search result";
    }

    <p>Seearch result !!!</p>

    @foreach (var item in Model.Segments)
    {
        <div>
            @item.LocationName
            <hr />
        </div>
    }


<p>Total time: @Model.TotalTime</p>
<p>Total cost: @Model.TotalPrice</p>

