<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/ModelOceanic.csdl|res://*/ModelOceanic.ssdl|res://*/ModelOceanic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbs-oapln.database.windows.net;initial catalog=db-oapln0517;user id=admin-oapln;password=oceanicFlyAway16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>