@{
    ViewBag.Title = "Prices";
}
<div class="jumbotron">
    <h2 style="text-align: center">@ViewBag.Title</h2>
</div>
<div class="row">
    <div class="col-md-8 table-responsive">
        <table align="center" class="table table-bordered table-hover">
            <tr>
                <th>Weight</th>
                <th>Price</th>
            </tr>
            <tr>
                <td><1kg</td>
                <td>10$</td>
            </tr>
            <tr>
                <td>1kg-5kg</td>
                <td>15kg</td>
            </tr>
            <tr>
                <td>5kg-25kg</td>
                <td>20$</td>
            </tr>
            <tr>
                <td>25kg<</td>
                <td>150$</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <p style="margin-bottom: 10%">
                    What we include in our prices:
                    Insurence: our packages always have insurence.
                    Marking package as fragile is free of charge.
                </p>
                <p>
                    Attention
                    Please be advised that we also have some limitation.
                    Maximum length of package is 10m.
                </p>
            </div>
        </div>
    </div>
</div>
